# Google OAuth Credentials
VITE_GOOGLE_CLIENT_ID=1098218614532-g42muvbs1gi1rcnr791lrj966l3e69lt.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=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
VITE_GOOGLE_REFRESH_TOKEN=1//0gY3FZWpGcZCICgYIARAAGBASNwF-L9Ira4tgsm5om7xjRT4JNmbHgIjnRBsqjfbaj2I2TmCt453fnEtRHNuMrEYbfnlINvAtvwE
